body {
background-color: #36BB5E;
font-family:Source Serif 4, Arial;
font-size:90%;
margin:0px auto;
text-align:center;
line-height:1.4em;
min-height: 100vh;
display: flex;
flex-direction: column;

}

